<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/aspesia__par/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/My-Shop-Papi-733684480305626"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    2021 © MY SHOP PAPI <i class="fas fa-heart"></i>
  </div>
</div>
