
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/daf0zj13q/image/upload/v1610624801/artem-beliaikin-UdQt3FT6rxM-unsplash_p6sfql.jpg');">
    <p>Welcome to</p>
    <h1> MY SHOP PAPI </h1>
    <%= link_to 'Start Searching', new_listing_path, class: "btn btn-flat" %>
  </div>
  <div class= "image-home"></div>
</div>
