<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('images/131063592_164289708716018_9148318178629994531_o.jpg');">
  <div class="container text-center">
    <h1>Welcome to OurTruck </strong></h1>
    <p> Sharing is caring. Find or rent a truck from owners around you and keep moving.</p>
    <%= link_to 'Start Searching', new_listing_path, class: "btn btn-flat" %>
  </div>
</div>