<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('131063592_164289708716018_9148318178629994531_o.jpg');">
  <div class="container-home text-center">
    <p>Welcome to</strong></p>
    <h1> MY SHOP PAPI </h1>
    <%= link_to 'Start Searching', new_listing_path, class: "btn btn-flat" %>
  </div>
  <div class= "image-home"></div>
</div>